<div class="span3">

    <div class="well">
        <ul class="nav nav-list">
            <li>
                <a href="{{ path('application_modifier') }}">Application</a>
            </li>
            
            <li>
                <a href="{{ path('module_modifier') }}">Module</a>
            </li>
          
              <li>
                <a href="{{ path('client_modifier') }}">Client</a>
            </li>
            
               <li>
                <a href="{{ path('projet_modifier') }}">Projet</a>
            </li>
            
                 <li>
                <a href="{{ path('bug_modifier') }}">Reclamation</a>
            </li>
               
                </ul>                      
            
       
            
            
           
        </ul>
    </div>

    <div class="well">
        <ul class="nav nav-list">
            <li>
                <a href="#">Clients</a>
            </li>
           <li>
                <a href="#">Commandes</a>
            </li>
            
     
            
            
        </ul>
    </div>

   
</div>