{% extends 'base.html.twig' %}

{% block body %} 


    <div class="container">
        <div class="row">
            <div class="span12">
              
                <div id="collapseOne" class="accordion-body collapse in">
                    <div class="accordion-inner">
                        <div class="span4">
                          
                        </div>  

                        <div class="span7 offset2">
                           

                            <div class="contact-form">
                                {{ form_start(form) }}
                                
                                  <div class="form-group">
                               <label>Client :</label>      {{ form_widget(form.client) }}
                                </div>
                               
                                <div class="form-group">
                               <label>Application :</label>      {{ form_widget(form.titre1) }}
                                </div>

                                    
                                <div class="form-group">
                                  <label>Module</label>   {{ form_widget(form.nom1) }}
                                </div>
                                
                               
                                <div class="form-group">
                                   
                                <label>Description :</label>       {{ form_widget(form.description, { 'attr': {'class': 'form-control','rows': '6', 'placeholder': 'ecrire votre message ici......'|trans } }) }}
                                </div>

                               
                                
                            
                                
                                  
                              
                               
                            </div>
                                   
                                   
                                {{form_start(form)}} 
                                {{form_widget(form)}}
                                <input class="btn btn-success" type="submit" value="Ajouter" /> 
                                {{form_end(form)}}





                                {{ form_end(form) }}




                            </div>
                        </div>
                    </div>
                </div>

            </div>

        {% endblock %}              