{% extends 'base.html.twig' %}

{% block body %}
    <h1>Projets list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Client</th>
                <th>Etat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for projet in projets %}
            <tr>
                <td><a href="{{ path('projet_show', { 'id': projet.id }) }}">{{ projet.id }}</a></td>
                <td>{{ projet.titre }}</td>
                <td>{{ projet.descriprtion }}</td>
                <td>{{ projet.nom }}</td>
                 <td>{% if projet.etat %}<font color="green">En Cours</font>{% else %}<font color="red">Finit</font>{% endif %}</td>
               
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('projet_show', { 'id': projet.id }) }}" class="btn btn-info"><i class="icon-book"></i>Afficher</a>
                        </li>
                        <li>
                            <a href="{{ path('projet_edit', { 'id': projet.id }) }}" class="btn btn-danger"><i class="icon-edit"></i>edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('projet_new') }}" class="btn btn-success">Ajout d'un nouvelle Projet</a>
        </li>
    </ul>
{% endblock %}
