{% extends '::layout/layoutAdmin.html.twig' %}       

{% block body %} 


    <div class="container">
        <div class="row">
            <div class="span12">

                <div id="collapseOne" class="accordion-body collapse in">
                    <div class="accordion-inner">
                        <div class="span4">

                        </div>  

                        <div class="span9 offset2">


                            <div class="contact-form">
                                {{ form_start(form) }}

                                <div class="form-group">
                                    <label>Titre du projet  :</label> {{ form_widget(form.titre) }}
                                </div>

                                <div class="form-group">

                                    <label>Description :</label>       {{ form_widget(form.descriprtion, { 'attr': {'class': 'form-control','rows': '6', 'placeholder': 'ecrire votre message ici......'|trans } }) }}
                                </div>



                                <div class="form-group">
                                    <label>Client</label>   {{ form_widget(form.nom) }}
                                </div>  

                   </div>


                            {{form_start(form)}} 
                            {{form_widget(form)}}
                            <input class="btn btn-success" type="submit" value="Ajouter" /> 
                            {{form_end(form)}}






                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}                      
